{name, "annotations"}.
{authors, ["Tim Watson <watson.timothy@gmail.com>"]}.
{description, "A simple function memoizing annotation"}.
{homepage, "https://github.com/nebularis/memoize/"}.
{rebar_compatible, true}.
{license, "Apache 2"}.
{url, {git, "https://github.com/nebularis/memoize.git", "master"}}.  % Ref is either "[sha1]", or {tag, "[tag name]"} or {branch, "[BranchName]"}
%% url also accepts {hg, "[Package Hg URL]", "[Package Hg Rev]"} 
%%                  {svn, "[Package SVN URL]", "[Package SVN Rev]"}
{applications, [memoize]}.
